<div class = "container">
    
    <div class="well">
    
       
           <h1>Report</h1>
            <h3>Estimated Completion Time</h3>
            <p><b>Task: </b> <span id = "VERIFIED">...</span> / <span id = "TOTAL">....</span></p>
           
            <p><b>Countdown: </b> <span id = "TRACK"></span></p>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
              </div>
              <br>
              <button params = "<%= report_id %>" func  = "RestartBatch" class = "btn btn-sm btn-danger click">Restart Verification</button>
              <hr>
             
              <br>
          
            <p><b>Batch Name: </b> <%= batch_name %></p>
            <p><button func ="ExportReport" params = "<%= report_id %>" req = "<%= report_type %>" class = "btn btn-primary click">Export Report To Excel (All)</button></p>
            <br>
           
            <% if(report_type == "batch"){ %> 
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p><button req2 = "VERIFIED" func ="ExportReport2" params = "<%= report_id %>" req = "<%= report_type %>" class = "btn btn-success click">Export (Only Verified)</button></p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p><button req2 = "UNVERIFIED" func ="ExportReport2" params = "<%= report_id %>" req = "<%= report_type %>" class = "btn btn-danger click">Export (Only UnVerified)</button></p>
                </div>
            </div>
            <% } %> 
             <hr>
        
       
        <div class="row align-items-center">
            <div class="col-lg-4">
               
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 col-lg-6 d-flex justify-content-md-end sort-index">
                       
                     
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsivex">
        <table id = "dtable" class="table m-0">
            <thead>
                <tr class="bg-fade">
                    <th></th>
                    <th style="width: 120px;">Last Updated</th>
                    <!-- <th style="width: 120px;">Date</th> -->
                   
                    <th>Bank Name</th>
                    <th style="width: 100px;"># Account Number</th>
                   
                    <th style="width: 100px">Account Name</th>
    
                    <th style="width: 100px">Status</th>
                  
                    
                  
                </tr>
            </thead>
            <tbody>
                <% for(let oo of report){ %> 
    
                <tr>
                    <td></td>
                    <td class="align-middle"><%= oo.updated_at %></td>
                    <td class="align-middle">
                        <div>
                            <h5><%= oo.bank_name %></h5>
                        </div>
    
                    </td>
                    <td class="align-middle">
                        <div>
                            <h5><%= oo.account_number %></h5>
                            <!-- <em class="text-muted ml-1">(Sales Manager)</em> -->
                        </div>
    
                    </td>
                    <td class="align-middle">
                        <div>
                            <h5><%= oo.account_name %></h5>
                            <!-- <em class="text-muted ml-1">(Sales Manager)</em> -->
                        </div>
    
                    </td>
                    <td class="align-middle">
                        <div>
                            <h5><%= oo.status %></h5>
                            <!-- <em class="text-muted ml-1">(Sales Manager)</em> -->
                        </div>
    
                    </td>
                  
    
                   
                </tr>
            <% } %> 
    
      
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){

        let batch_id = '<%=  report_id %>'
       

        methods.TrackUploads = function (params, _this, event) {

            

            var form = {
                batch_id: batch_id
            }
            var url = _app.GetAuthURL("Track", "TrackUploads")

            _app.Ajax(url, form, "json", function (res) {

              if("total" in res){
                  $("#VERIFIED").text(res.verified)
                  $("#TOTAL").text(res.total)

                  $(".progress-bar").css("width", res.percentage)
                  $(".progress-bar").text(res.percentage)
              }

                if (res.success) {

                }


            })

        }
        let timer = 0
        methods.TrackUploads()
        let inter = setInterval(function(){
            timer++
            if(timer >= 60){
                window.location.href =  window.location.href.toString()
            }

           $("#TRACK").text(timer)
           
            let get_v = $("#VERIFIED").text()
            let get_t = $("#TOTAL").text()
            if(get_v == get_t){
                clearInterval(inter)
            }
            methods.TrackUploads()

        }, 1000)
      


    })

</script>